<a href="javascript:void(0)" (click)="handleScroll('left')"><i nz-icon nzType="left" nzTheme="outline"></i></a>
<div class="tags-wrapper">
  <div class="tags-wrapper-scroll" [style.left]="leftOffset + 'px'">
    <ng-container *ngTemplateOutlet="TgasTemplate; context: { $implicit: pageOpenedList }"></ng-container>
    <ng-template #TgasTemplate let-pageOpenedList>
      <ng-container *ngFor="let tag of pageOpenedList; let i = index">
        <nz-tag [nzMode]="i > 0 ? 'closeable' : 'default'"
          (nzOnClose)="closeTag($event, i, tag?.path)"
          (click)="clickTag(tag?.path)"
          [id]="tag?.path"
          [nzChecked]="tag?.selected"
          [nzColor]="tag?.selected ? '#2d8cf0' : ''">
          <i nz-icon nzType="environment" nzTheme="outline"></i>
          {{tag?.title}}
        </nz-tag>
      </ng-container>
    </ng-template>
  </div>
</div>
<a href="javascript:void(0)" (click)="handleScroll('right')">
  <i nz-icon nzType="right" nzTheme="outline"></i>
</a>
<a href="javascript:void(0)" nz-dropdown [nzDropdownMenu]="menu">
  <i nz-icon nzType="caret-down" nzTheme="outline"></i>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="closeTags('otherTags')">关闭其他</li>
    <li nz-menu-item (click)="closeTags('allTags')">关闭所有</li>
  </ul>
</nz-dropdown-menu>
