<a><i nz-icon nzType="left" nzTheme="outline"></i></a>
<div class="tags-wrapper">
  <nz-tag nzMode="closeable" (nzOnClose)="preventDefault($event)">
    <i nz-icon nzType="environment" nzTheme="outline"></i>
    首页
  </nz-tag>
  <nz-tag nzMode="closeable" (nzOnClose)="preventDefault($event)">
    <i nz-icon nzType="environment" nzTheme="outline"></i>
    文档
  </nz-tag>
  <nz-tag nzMode="closeable" (nzOnClose)="preventDefault($event)" [nzColor]="'#2d8cf0'">
    <i nz-icon nzType="environment" nzTheme="outline"></i>
    树状下拉选择器
  </nz-tag>
</div>
<a>
  <i nz-icon nzType="right" nzTheme="outline"></i>
</a>
<a>
  <i nz-icon nzType="caret-down" nzTheme="outline"></i>
</a>
