<div class="wrapper login">
  <app-spin [position]="'fixed'" [tip]="'正在登录'" *ngIf="spinStatus"></app-spin>
  <nz-select class="switch-language" [formControl]="selectedLang" nzSize="small" (ngModelChange)="selected()">
    <nz-option nzValue="zh-CN" [nzLabel]="'LANG.CHINESE' | translate"></nz-option>
    <nz-option nzValue="en-US" [nzLabel]="'LANG.ENGLISH' | translate"></nz-option>
    <nz-option nzValue="zh-TW" [nzLabel]="'LANG.CHINESE-TW' | translate"></nz-option>
    <nz-option nzValue="ja-JP" [nzLabel]="'LANG.JAPANESE' | translate"></nz-option>
  </nz-select>
  <nz-card class="login-box" [nzTitle]="title" nzHoverable>
    <app-login-form (toggleSpin)="toggleSpin($event)"></app-login-form>
  </nz-card>
  <ng-template #title>
    <i nz-icon nzType="login" nzTheme="outline"></i>
    <span class="login-box-title">{{'LOGIN.TITLE' | translate}}</span>
  </ng-template>
</div>
